body {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  color: rgb(71, 71, 71);
}

.container_choose {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button.primary {
  width: 200px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 6px;
  margin-top: 20px;
}

button.secondary {
  width: 200px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 6px;
  background-color: white;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  margin-top: 25px;
}
